<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Open Sans", sans-serif;
    font-weight:400;
}
 
/* container */
.container{
    background-color:#e5ecf1;

}
/* for navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    background-color:rgba(90, 69, 69, 0.596);
    padding:15px;
}

a, li{
    text-decoration:none;
    list-style-type:none;
    color:white;
}

.nav-links{
    display:flex;
    justify-content: space-between;
}

.nav-links li {
    margin: 0 15px;
}


.nav-links:hover{
    color:black;
}

.logo{
    color:ivory;
}

/* keyframes */

@keyframes slideIn {
    from {
      transform: translateY(60%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .text {
    animation: slideIn 1.5s ease-in-out;
  }

/* for background image */

.image{
    width:100%;
    height:100%;
    /* margin-top: 2px; */
    background-attachment: fixed;
    background-position: center; 
    position:relative;
}

.text{
    position:absolute;
    top:40%;
    left:25%;
    font-size:40px !important;  
}
.txt1{
    font-weight: 500;
}
.btn{
    font-size:23px;
    border:2px solid white;
    padding:10px;
    margin-left:200px;
}
.btn:hover{
    background-color:salmon;
}

/* for content page */
.content{
    padding:80px;
    background-color:#e5ecf1;

}
.content1{
    padding:40px 0px;
    text-align:center;
    font-size: 20px;
}

.content p{
    color:#8080808e;
}

/* for grid columns */
.grid-template{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    /* grid-template-rows:auto; */
    /* gap: 1px; */
    margin:0;
    padding:0;
    background-color:white;
    
}

.grid-column {
    text-align: center;
}

.grid-column, h6{
    font-size:20px;
    text-transform:uppercase;
    color:salmon;
}
.grid-column,h5{
    font-size:20px;
    text-transform: uppercase;
    color:black;
}

.grid-column,p{
    text-transform:capitalize;
    
}
.grid-column:nth-child(even)
{
    text-align:center;
    padding:37px;

}
.grid-column img{
    margin-top:10px;
    height:350px;
    width:350px;
}
/* mid heading */
.mid-heading{
    /* margin:60px 100px; */
    padding:30px 10px;
    text-align:left;
    background-color:white;

}
.mid-heading h1{
font-size:50px;
margin-bottom: 30px;
padding:0px 80px;


}

.mid-heading p{
    font-size: 23px;
    padding:0px 80px;
    line-height:40px;
    color:gray;
 
}


/* bg_hero image */
.bg_hero{
    background-color: white;
}
/* chef */
.chefs{
    padding:30px;
    margin-bottom: 150px;
    background-color:white;
}

.flex1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:70px;
    gap:20px;
}
.chef{
    text-align:center;
    padding:50px;
    font-size: 30px;
    line-height: 60px;
}

.chef1{
    text-align:center;
    text-transform: capitalize;
    font-size:18px;
    line-height: 30px;
}
.chef2{
    text-align:center;
    text-transform: capitalize;
    font-size:18px;
    line-height: 30px;
    
}

 .master h6{
    text-transform: uppercase;
    font-size:20px;
    margin-bottom: 40px;
    color:#61748650;
}

p.p_chef{
    color:#414f5c8a;
    line-height: 30px;
}

.logo_img{
    border-radius:30px;
    margin-top:20px;
    word-spacing:20px;
    color:salmon;
}

/* for bg_image */

.bg_image{
    border-radius:100%;
    width:40%;
    height:60%;
}

/* menu page */
.menu{
    margin-top:-80px;
    text-align:center;
    font-size:25px;
}

.menu h1{
    font-weight:500;
  
}

.brunch a{
    font-size:19px;
    margin-top:80px;
    word-spacing: 100px;
    color:salmon;
    font-weight: 500;
    padding-left:30px;
}
.brunch a:hover{
    color:green;
}
.bold{
    font-weight: 500;
}

.gray{
    color:gray;
}

.grid1{
    display:flex;
    flex-direction:row;
    border-bottom:1px solid gray;
    padding:30px 60px;
    margin:20px 100px;
    gap:30px;
}

.cont{
    text-align:left;

}

.dollar{
    color:salmon;
}

/* our services */

.services{
    padding:60px;
    background-color:white;
    text-align:center;
    margin-bottom:50px;
}

.heading{
    margin-bottom:70px;
    font-size:20px;
}

.heading h1{
 font-weight: 400;
}

.heading p{
    color:rgb(145, 137, 137);
}

.recipes{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
  
    
}

.types{
    font-size:18px;
    flex: 1 1 calc(33.33% - 10px); /* 3 columns */
    min-width: calc(33.33% - 10px);
    padding:0px 60px;
    line-height:30px;
    /* text-align:justify; */
    margin-bottom:55px;
    
}

.ft-size{
    font-weight:500;
    font-size: 16px;
    margin-bottom:15px;
}
/* reservation */
.reservation{
    text-align:center;
    margin-bottom:30px;
    padding: 40px;
  
}
.reservation h1{
    font-weight:500;
    font-size: 50px;
}
.res-form {
    padding-top: 40px;
    padding-bottom:90px;
    padding-right:30px;
    padding-left:40px;
    margin: 20px auto;
    display: flex;
    text-align:left;
    flex-wrap: wrap; 
    justify-content: space-between;
    max-width:800px;
    gap: 20px;
    background-color:white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.name {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px; /* Ensure all input fields have a consistent size */
}

input ,select {
    padding: 10px;
    border: 1px solid rgb(202, 191, 191);
    border-radius: 5px;
    outline:none;
}
input:hover{
    border:1px solid salmon;
}
select:hover{
    border:1px solid salmon;
}
.reservebtn{
    /* margin-top:-90px; */
    margin-top:-70px;
}
.reserve-btn {
    border: none;
    padding: 10px 10px;
    margin: 0px 80px;
    margin-top:-70px;
    background-color: white;
    border: 1px solid salmon;
    color:salmon;
    cursor: pointer;
    font-size:14px;
    font-weight:500;
    text-transform: uppercase;
    border-radius:5px;
}

.reserve-btn:hover {
    background-color: salmon;
    color: white;
}

/* customer reviews */
.reviews{
    text-align:center;
    background-color:white;
    padding-top:50px;
    padding-bottom:50px;
  
}
.reviews .even{
    padding-top:20px;
    margin:0px 300px;
    font-size:20px;
}
.customer{
    text-align:center;
    line-height: 35px;
}

.cust{
    font-weight:400;
    font-size:50px;
    padding-bottom: 40px;
}

.image10{
    padding-top:50px;
}
.image11{
    border-radius:100px;
}
.para{
    line-height:40px;
}


/* get in touch */
.get-in {
    width: 100%;
    text-align: center;
    background-color: rgb(235, 231, 231);
    padding-top: 40px;
    position: relative;
    z-index: 2;
}

.get-in h1 {
    text-align: center;
    font-weight: 500;
}

.form {
    margin: 30px auto;
    padding: 40px 40px;
    background-color: white;
    width: 50%;
    position: relative;
    z-index: 3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact {
    display: inline-block;
    width: 32%; /* Adjust for spacing */
    margin-bottom: 15px;
    text-align: left;
}

.contact label {
    display: block;
    margin-bottom: 5px;
}

.contact input {
    width: 89%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact input:hover{
    border:1px solid salmon;
}


/* text area */
.form1 {
    width: 96%;
    margin-bottom: 15px;
    padding-left: 7px;
    text-align: left;
    z-index: 3;
}

.form1 label {
    display: block;
    margin-bottom: 5px;
    padding: 0px 3px;
}

.form1 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.area:hover{
    border:1px solid salmon;

}

.space {
    padding: 130px;
    background-color: #a9ccf1;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.submit {
    text-align: center;
    margin-bottom: 10px;
}

.submit a {
    display: inline-block;
    padding: 5px 25px;
    background-color: white;
    color:salmon;
    border:2px solid tomato;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight:500;
    margin:40px;
    text-transform:uppercase;
}

.submit a:hover {
    background-color:tomato;
    color:black;
}

/* about meal */
.about-meal{
    width:100%;
    height:700px;
    background-color:black;
    padding: 15px;
}
.foot1{
    display:flex;
    padding:120px 70px;
}

.breakfast{
    flex-direction: column;
    flex:1;
    margin:50px 20px;
    color:grey;
    padding:30px 10px;
    padding-bottom:40px;
    line-height:30px;
}
.along1{
    color:white;
    letter-spacing: 1px;
    margin-bottom:40px;
}

.read{
    border:2px solid salmon;
    font-size:14px;
    padding:10px 20px;
    margin:30px 0px;
    color:white;
    background-color: black;
    cursor:pointer;
    border-radius: 5px;

}
.read:hover{
    background-color: salmon;
}
.newsletter ,input{
    width:100%;
    margin:0;
}
.newsletter  label{
    color:white;
    font-size:20px;
    margin-bottom:10px;
}
.breakfast h5{
    font-weight:500;
    font-size:20px;
    color:white;
    text-transform:capitalize;

}
.foot2{
    color:white;
    text-align: center;
    margin-top: -120px;
}
span{
    color:salmon;
}


/* media query */

@media (max-width:480px)
{
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
    }

   /* nav media */
    .navbar{
        width:100%;
        display:flex;
        flex-direction: column;
       justify-content: center;
       text-align:center;
       /* padding:10px; */
    }

    .nav-links{
        margin-left:10px;
        margin-right:10px;
        /* padding:2px; */
        font-weight:500;
        font-size:14px;
    }
  
    .links:hover{
        color:salmon;
    }
    .logo{
        padding-bottom:10px;
    }
    
  .page{
    position:relative;
  }
/* keyframes */

@keyframes slideIn {
    from {
      transform: translateY(60%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .text {
    animation: slideIn 1.5s ease-in-out;
  }
  .text{
    position:absolute;
    top:90%;
    left:35%;
  }

  .txt1{
    margin-top:-90px;
    margin-left:-40px;
    font-size: 30px;
  }
/* bg-image media */


.btn{
    margin-left:20px;
    margin-top:-10px;
    font-size:10px; 
}

.content{
    margin-top:-50px;
    padding-top:10px;
    padding-right:20px;
    padding-left:20px;
}
.content1{
    font-size:19px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}
/* grid column media */
.grid-template{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:auto;

}

.grid-column {
    text-align: center;
}

.grid-column, h6{
    font-size:20px;
    text-transform:uppercase;
    color:salmon;
}
.grid-column,h5{
    font-size:20px;
    text-transform: uppercase;
    color:black;
}

.grid-column,p{
    text-transform:capitalize;
    
}
.grid-column:nth-child(even)
{
    text-align:center;
}

/* mid-heading media */
.mid-heading{
    margin:0;
    padding:40px 10px;
    text-align:left;
    background-color:white;
}

.mid-heading h1{
    font-size:20px;
    margin-bottom: 30px;
    padding:0px 20px;
}

.mid-heading p{
    font-size: 18px;
    padding:0px 20px;
    line-height:25px;
    color:gray;
}
/* chefs media */
.chefs{
    padding:20px;
}
.flex1{
    display: block;
    /* justify-content: center;
    align-items: center; */
    padding:30px;
    margin-top: -10px;
    /* gap:20px; */
}
.chef{
    text-align:center;
    padding:50px;
    font-size: 15px;
    line-height: 60px;

}

.chef1{
    text-align:center;
    text-transform: capitalize;
    font-size:16px;
    line-height: 30px;
}
.chef2{
    text-align:center;
    text-transform: capitalize;
    font-size:16px;
    line-height: 30px;
    
}

 .master h6{
    text-transform: uppercase;
    font-size:14px;
    margin-top: 15px;
    margin-bottom: 10px;
    color:gray;
}

p.p_chef{
    color:#414f5c8a;
    line-height: 30px;
}

.logo_img{
    border-radius:30px;
    margin-top:20px;
    margin-bottom:70px;
    word-spacing:20px;
    color:salmon;
}
/* our services media*/


.services{
    padding:60px;
    background-color:white;
    text-align:center;
    margin-bottom:50px;
}

.heading{
    margin-bottom:70px;
    font-size:20px;
}

.heading h1{
 font-weight: 400;
}

.heading p{
    color:rgb(145, 137, 137);
}

/* our services media*/

.recipes{
    display:block; 
    margin-bottom: 60px;
}

.types{
    font-size:18px;
    /* flex: 1 1 calc(33.33% - 10px); 
    min-width: calc(33.33% - 10px); */
    padding:0px 10px;
    line-height:30px;
    /* text-align:justify; */
    margin-bottom:55px;
    
}

.ft-size{
    font-weight:500;
    font-size: 19px;
    margin-bottom:15px;
}


/* customer reviews media*/

.reviews .even{
    padding-top:20px;
    margin:0px 12px;
    font-size:20px;
}
.customer{
    text-align:center;
    line-height: 35px;
}

.cust{
    font-weight:400;
    font-size:30px;
    /* padding-bottom: 40px; */
}

/* menu page media */
.menu{
    margin-top:-380px;
    text-align:center;
    font-size:20px;
 
}

.menu h1{
    font-weight:400;
    
}
.brunch{
    margin-top: 20px;
    margin-bottom:10px;
}

.brunch a{
    font-size:19px;
    margin-top:80px;
    word-spacing: 100px;
    color:salmon;
    font-weight: 500;
    padding-left:30px;
    margin-bottom: -60px;

}
.brunch a:hover{
    color:green;
}

.bold{
    font-weight: 500;
}


.grid1{
    display:block;
    border-bottom:1px solid gray;
    padding:10px;
    margin:0px;
    gap:30px;
    margin-top: 20px;
    text-align: left;

}


/* get in touch  media*/
.get-in {
    width: 100%;
    text-align: center;
    background-color: rgb(235, 231, 231);
    padding-top: 40px;
    position: relative;
    z-index: 2;
}

.get-in h1 {
    text-align: center;
    font-weight: 500;
}

.form {
    margin: 30px auto;
    padding: 20px 20px;
    background-color: white;
    width: 90%;
    position: relative;
    z-index: 3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
 
}

.contact {
    display:block;
    width: 100%; /* Adjust for spacing */
    margin-bottom: 15px;
    text-align: left;
}

.contact label {
    display: block;
    margin-bottom: 5px;
}

.contact input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
 
}

.contact input:hover{
    border:1px solid salmon;
}


/* text area media*/
.form1 {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 7px;
    text-align: left;
    z-index: 3;
}

.form1 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.area:hover{
    border:1px solid salmon;

}


.submit a {
    display: inline-block;
    padding: 5px 25px;
    background-color: white;
    color:salmon;
    border:2px solid tomato;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight:500;
    margin:40px;
    text-transform:uppercase;
}


/* about meal media*/

.about-meal{
    width:100%;
    height:auto;
    background-color:black;
    /* padding: 15px; */
}

.foot1{
    display:block;
    padding:120px 0px;
}

.breakfast{
    flex-direction: column;
    flex:1;
    margin:20px 20px;
    color:grey;
    padding:5px 0px;
    padding-bottom:10px;
    line-height:30px;
}

.read:hover{
    background-color: salmon;
}

.newsletter ,input{
    width:100%;
    margin:0;
}


.foot2{
    color:white;
    text-align: center;
    margin-bottom: 70px;
}

}


/* tablet */

@media (min-width:480px) and (max-width:1023px)
{
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
    }

   /* nav media */
    .navbar{
        width:100%;
        display:flex;
        flex-direction: column;
       justify-content: center;
       text-align:center;
       /* padding:10px; */
    }

    .nav-links{
        margin-left:10px;
        margin-right:10px;
        /* padding:2px; */
        font-weight:500;
        font-size:14px;
    }
  
    .links:hover{
        color:salmon;
    }
    .logo{
        padding-bottom:10px;
    }
    
  .page{
    position:relative;
  }
/* keyframes */

@keyframes slideIn {
    from {
      transform: translateY(60%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .text {
    animation: slideIn 1.5s ease-in-out;
  }
  .text{
    position:absolute;
    top:90%;
    left:35%;
  }

  .txt1{
    margin-top:-90px;
    margin-left:-40px;
    font-size: 30px;
  }
/* bg-image media */


.btn{
    margin-left:20px;
    margin-top:-10px;
    font-size:10px; 
}

.content{
    margin-top:-50px;
    padding-top:10px;
    padding-right:20px;
    padding-left:20px;
}
.content1{
    font-size:19px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

/* grid column tab media */

.grid-template{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:auto;

}

.grid-column img{
    width:200px;
    height:100px;
}


/* mid-heading tab media */
.mid-heading{
    margin:0;
    padding:40px 10px;
    text-align:left;
    background-color:white;
}

.mid-heading h1{
    font-size:20px;
    margin-bottom: 30px;
    padding:0px 20px;
}

.mid-heading p{
    font-size: 18px;
    padding:0px 20px;
    line-height:25px;
    color:gray;
}

/* chefs tab media */
.chefs{
    padding:20px;
    margin-bottom: -5px;
}
.flex1{
    display: block;
    /* justify-content: center;
    align-items: center; */
    padding:30px;
    margin-top: -10px;
    /* gap:20px; */
}
.chef{
    text-align:center;
    padding:50px;
    font-size: 15px;
    line-height: 60px;

}

.chef1{
    text-align:center;
    text-transform: capitalize;
    font-size:16px;
    line-height: 30px;
}
.chef2{
    text-align:center;
    text-transform: capitalize;
    font-size:16px;
    line-height: 30px;
    
}

 .master h6{
    text-transform: uppercase;
    font-size:14px;
    margin-top: 15px;
    margin-bottom: 10px;
    color:gray;
}

p.p_chef{
    color:#414f5c8a;
    line-height: 30px;
}

/* chefs media */
.chefs{
    padding:20px;
}
.flex1{
    display: block;
    /* justify-content: center;
    align-items: center; */
    padding:30px;
    margin-top: -10px;
    /* gap:20px; */
}
.chef{
    text-align:center;
    padding:50px;
    font-size: 15px;
    line-height: 60px;

}

.chef1{
    text-align:center;
    text-transform: capitalize;
    font-size:16px;
    line-height: 30px;
}
.chef2{
    text-align:center;
    text-transform: capitalize;
    font-size:16px;
    line-height: 30px;
    
}

 .master h6{
    text-transform: uppercase;
    font-size:14px;
    margin-top: 15px;
    margin-bottom: 10px;
    color:gray;
}

p.p_chef{
    color:#414f5c8a;
    line-height: 30px;
}

.logo_img{
    border-radius:30px;
    margin-top:20px;
    margin-bottom:70px;
    word-spacing:20px;
    color:salmon;
}


/* menu page tab media */
.menu{
    /* margin-top:-80px; */
    text-align:center;
    font-size:20px;
    margin-top: 10px;
}

.menu h1{
    font-weight:400;
    margin-top: 20px;
}
.brunch{
    margin-top: 20px;
    margin-bottom:10px;
}

.brunch a{
    font-size:19px;
    margin-top:80px;
    word-spacing: 100px;
    color:salmon;
    font-weight: 500;
    padding-left:30px;
    margin-bottom: -60px;

}
.brunch a:hover{
    color:green;
}

.bold{
    font-weight: 500;
}


.grid1{
    display:block;
    border-bottom:1px solid gray;
    padding:10px;
    margin:0px;
    gap:30px;
    margin-top: 20px;
    text-align: left;

}
/* our services tab media*/


.services{
    padding:60px;
    background-color:white;
    text-align:center;
    margin-bottom:50px;
}

.heading{
    margin-bottom:70px;
    font-size:20px;
}

.heading h1{
 font-weight: 400;
}

.heading p{
    color:rgb(145, 137, 137);
}

/* our services tab media*/

.recipes{
    display:block; 
    margin-bottom: 60px;
}

.types{
    font-size:18px;
    /* flex: 1 1 calc(33.33% - 10px); 
    min-width: calc(33.33% - 10px); */
    padding:0px 10px;
    line-height:30px;
    /* text-align:justify; */
    margin-bottom:55px;
    
}

.ft-size{
    font-weight:500;
    font-size: 19px;
    margin-bottom:15px;
}


/* customer reviews  tab media*/

.reviews .even{
    padding-top:20px;
    margin:0px 12px;
    font-size:20px;
}
.customer{
    text-align:center;
    line-height: 35px;
}

.cust{
    font-weight:400;
    font-size:30px;
    /* padding-bottom: 40px; */
}


/* get in touch tab media*/
.get-in {
    width: 100%;
    text-align: center;
    background-color: rgb(235, 231, 231);
    padding-top: 40px;
    position: relative;
    z-index: 2;
}

.get-in h1 {
    text-align: center;
    font-weight: 500;
}

.form {
    margin: 30px auto;
    padding: 20px 20px;
    background-color: white;
    width: 90%;
    position: relative;
    z-index: 3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
 
}

.contact {
    display:block;
    width: 100%; /* Adjust for spacing */
    margin-bottom: 15px;
    text-align: left;
}

.contact label {
    display: block;
    margin-bottom: 5px;
}

.contact input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
 
}

.contact input:hover{
    border:1px solid salmon;
}


/* text area tab media*/
.form1 {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 7px;
    text-align: left;
    z-index: 3;
}

.form1 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.area:hover{
    border:1px solid salmon;

}


.submit a {
    display: inline-block;
    padding: 5px 25px;
    background-color: white;
    color:salmon;
    border:2px solid tomato;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight:500;
    margin:40px;
    text-transform:uppercase;
}


/* about meal tab media*/

.about-meal{
    width:100%;
    height:auto;
    background-color:black;
    /* padding: 15px; */
}

.foot1{
    display:block;
    padding:120px 0px;
}

.breakfast{
    flex-direction: column;
    flex:1;
    margin:20px 20px;
    color:grey;
    padding:5px 0px;
    padding-bottom:10px;
    line-height:30px;
}

.read:hover{
    background-color: salmon;
}

.newsletter ,input{
    width:100%;
    margin:0;
}


.foot2{
    color:white;
    text-align: center;
    margin-bottom: 70px;
}

}

=======
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Open Sans", sans-serif;
    font-weight:400;
}
 
/* container */
.container{
    background-color:#e5ecf1;

}
/* for navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    background-color:rgba(90, 69, 69, 0.596);
    padding:15px;
}

a, li{
    text-decoration:none;
    list-style-type:none;
    color:white;
}

.nav-links{
    display:flex;
    justify-content: space-between;
}

.nav-links li {
    margin: 0 15px;
}


.nav-links:hover{
    color:black;
}

.logo{
    color:ivory;
}

/* keyframes */

@keyframes slideIn {
    from {
      transform: translateY(60%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .text {
    animation: slideIn 1.5s ease-in-out;
  }

/* for background image */

.image{
    width:100%;
    height:100%;
    /* margin-top: 2px; */
    background-attachment: fixed;
    background-position: center; 
    position:relative;
}

.text{
    position:absolute;
    top:40%;
    left:25%;
    font-size:40px !important;  
}
.txt1{
    font-weight: 500;
}
.btn{
    font-size:23px;
    border:2px solid white;
    padding:10px;
    margin-left:200px;
}
.btn:hover{
    background-color:salmon;
}

/* for content page */
.content{
    padding:80px;
    background-color:#e5ecf1;

}
.content1{
    padding:40px 0px;
    text-align:center;
    font-size: 20px;
}

.content p{
    color:#8080808e;
}

/* for grid columns */
.grid-template{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    /* grid-template-rows:auto; */
    /* gap: 1px; */
    margin:0;
    padding:0;
    background-color:white;
    
}

.grid-column {
    text-align: center;
}

.grid-column, h6{
    font-size:20px;
    text-transform:uppercase;
    color:salmon;
}
.grid-column,h5{
    font-size:20px;
    text-transform: uppercase;
    color:black;
}

.grid-column,p{
    text-transform:capitalize;
    
}
.grid-column:nth-child(even)
{
    text-align:center;
    padding:37px;

}
.grid-column img{
    margin-top:10px;
    height:350px;
    width:350px;
}
/* mid heading */
.mid-heading{
    /* margin:60px 100px; */
    padding:30px 10px;
    text-align:left;
    background-color:white;

}
.mid-heading h1{
font-size:50px;
margin-bottom: 30px;
padding:0px 80px;


}

.mid-heading p{
    font-size: 23px;
    padding:0px 80px;
    line-height:40px;
    color:gray;
 
}


/* bg_hero image */
.bg_hero{
    background-color: white;
}
/* chef */
.chefs{
    padding:30px;
    margin-bottom: 150px;
    background-color:white;
}

.flex1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:70px;
    gap:20px;
}
.chef{
    text-align:center;
    padding:50px;
    font-size: 30px;
    line-height: 60px;
}

.chef1{
    text-align:center;
    text-transform: capitalize;
    font-size:18px;
    line-height: 30px;
}
.chef2{
    text-align:center;
    text-transform: capitalize;
    font-size:18px;
    line-height: 30px;
    
}

 .master h6{
    text-transform: uppercase;
    font-size:20px;
    margin-bottom: 40px;
    color:#61748650;
}

p.p_chef{
    color:#414f5c8a;
    line-height: 30px;
}

.logo_img{
    border-radius:30px;
    margin-top:20px;
    word-spacing:20px;
    color:salmon;
}

/* for bg_image */

.bg_image{
    border-radius:100%;
    width:40%;
    height:60%;
}

/* menu page */
.menu{
    margin-top:-80px;
    text-align:center;
    font-size:25px;
}

.menu h1{
    font-weight:500;
  
}

.brunch a{
    font-size:19px;
    margin-top:80px;
    word-spacing: 100px;
    color:salmon;
    font-weight: 500;
    padding-left:30px;
}
.brunch a:hover{
    color:green;
}
.bold{
    font-weight: 500;
}

.gray{
    color:gray;
}

.grid1{
    display:flex;
    flex-direction:row;
    border-bottom:1px solid gray;
    padding:30px 60px;
    margin:20px 100px;
    gap:30px;
}

.cont{
    text-align:left;

}

.dollar{
    color:salmon;
}

/* our services */

.services{
    padding:60px;
    background-color:white;
    text-align:center;
    margin-bottom:50px;
}

.heading{
    margin-bottom:70px;
    font-size:20px;
}

.heading h1{
 font-weight: 400;
}

.heading p{
    color:rgb(145, 137, 137);
}

.recipes{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
  
    
}

.types{
    font-size:18px;
    flex: 1 1 calc(33.33% - 10px); /* 3 columns */
    min-width: calc(33.33% - 10px);
    padding:0px 60px;
    line-height:30px;
    /* text-align:justify; */
    margin-bottom:55px;
    
}

.ft-size{
    font-weight:500;
    font-size: 16px;
    margin-bottom:15px;
}
/* reservation */
.reservation{
    text-align:center;
    margin-bottom:30px;
    padding: 40px;
  
}
.reservation h1{
    font-weight:500;
    font-size: 50px;
}
.res-form {
    padding-top: 40px;
    padding-bottom:90px;
    padding-right:30px;
    padding-left:40px;
    margin: 20px auto;
    display: flex;
    text-align:left;
    flex-wrap: wrap; 
    justify-content: space-between;
    max-width:800px;
    gap: 20px;
    background-color:white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.name {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px; /* Ensure all input fields have a consistent size */
}

input ,select {
    padding: 10px;
    border: 1px solid rgb(202, 191, 191);
    border-radius: 5px;
    outline:none;
}
input:hover{
    border:1px solid salmon;
}
select:hover{
    border:1px solid salmon;
}
.reservebtn{
    /* margin-top:-90px; */
    margin-top:-70px;
}
.reserve-btn {
    border: none;
    padding: 10px 10px;
    margin: 0px 80px;
    margin-top:-70px;
    background-color: white;
    border: 1px solid salmon;
    color:salmon;
    cursor: pointer;
    font-size:14px;
    font-weight:500;
    text-transform: uppercase;
    border-radius:5px;
}

.reserve-btn:hover {
    background-color: salmon;
    color: white;
}

/* customer reviews */
.reviews{
    text-align:center;
    background-color:white;
    padding-top:50px;
    padding-bottom:50px;
  
}
.reviews .even{
    padding-top:20px;
    margin:0px 300px;
    font-size:20px;
}
.customer{
    text-align:center;
    line-height: 35px;
}

.cust{
    font-weight:400;
    font-size:50px;
    padding-bottom: 40px;
}

.image10{
    padding-top:50px;
}
.image11{
    border-radius:100px;
}
.para{
    line-height:40px;
}


/* get in touch */
.get-in {
    width: 100%;
    text-align: center;
    background-color: rgb(235, 231, 231);
    padding-top: 40px;
    position: relative;
    z-index: 2;
}

.get-in h1 {
    text-align: center;
    font-weight: 500;
}

.form {
    margin: 30px auto;
    padding: 40px 40px;
    background-color: white;
    width: 50%;
    position: relative;
    z-index: 3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact {
    display: inline-block;
    width: 32%; /* Adjust for spacing */
    margin-bottom: 15px;
    text-align: left;
}

.contact label {
    display: block;
    margin-bottom: 5px;
}

.contact input {
    width: 89%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact input:hover{
    border:1px solid salmon;
}


/* text area */
.form1 {
    width: 96%;
    margin-bottom: 15px;
    padding-left: 7px;
    text-align: left;
    z-index: 3;
}

.form1 label {
    display: block;
    margin-bottom: 5px;
    padding: 0px 3px;
}

.form1 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.area:hover{
    border:1px solid salmon;

}

.space {
    padding: 130px;
    background-color: #a9ccf1;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.submit {
    text-align: center;
    margin-bottom: 10px;
}

.submit a {
    display: inline-block;
    padding: 5px 25px;
    background-color: white;
    color:salmon;
    border:2px solid tomato;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight:500;
    margin:40px;
    text-transform:uppercase;
}

.submit a:hover {
    background-color:tomato;
    color:black;
}

/* about meal */
.about-meal{
    width:100%;
    height:700px;
    background-color:black;
    padding: 15px;
}
.foot1{
    display:flex;
    padding:120px 70px;
}

.breakfast{
    flex-direction: column;
    flex:1;
    margin:50px 20px;
    color:grey;
    padding:30px 10px;
    padding-bottom:40px;
    line-height:30px;
}
.along1{
    color:white;
    letter-spacing: 1px;
    margin-bottom:40px;
}

.read{
    border:2px solid salmon;
    font-size:14px;
    padding:10px 20px;
    margin:30px 0px;
    color:white;
    background-color: black;
    cursor:pointer;
    border-radius: 5px;

}
.read:hover{
    background-color: salmon;
}
.newsletter ,input{
    width:100%;
    margin:0;
}
.newsletter  label{
    color:white;
    font-size:20px;
    margin-bottom:10px;
}
.breakfast h5{
    font-weight:500;
    font-size:20px;
    color:white;
    text-transform:capitalize;

}
.foot2{
    color:white;
    text-align: center;
    margin-top: -120px;
}
span{
    color:salmon;
}


/* media query */

@media (max-width:480px)
{
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
    }

   /* nav media */
    .navbar{
        width:100%;
        display:flex;
        flex-direction: column;
       justify-content: center;
       text-align:center;
       /* padding:10px; */
    }

    .nav-links{
        margin-left:10px;
        margin-right:10px;
        /* padding:2px; */
        font-weight:500;
        font-size:14px;
    }
  
    .links:hover{
        color:salmon;
    }
    .logo{
        padding-bottom:10px;
    }
    
  .page{
    position:relative;
  }
/* keyframes */

@keyframes slideIn {
    from {
      transform: translateY(60%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .text {
    animation: slideIn 1.5s ease-in-out;
  }
  .text{
    position:absolute;
    top:90%;
    left:35%;
  }

  .txt1{
    margin-top:-90px;
    margin-left:-40px;
    font-size: 30px;
  }
/* bg-image media */


.btn{
    margin-left:20px;
    margin-top:-10px;
    font-size:10px; 
}

.content{
    margin-top:-50px;
    padding-top:10px;
    padding-right:20px;
    padding-left:20px;
}
.content1{
    font-size:19px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}
/* grid column media */
.grid-template{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:auto;

}

.grid-column {
    text-align: center;
}

.grid-column, h6{
    font-size:20px;
    text-transform:uppercase;
    color:salmon;
}
.grid-column,h5{
    font-size:20px;
    text-transform: uppercase;
    color:black;
}

.grid-column,p{
    text-transform:capitalize;
    
}
.grid-column:nth-child(even)
{
    text-align:center;
}

/* mid-heading media */
.mid-heading{
    margin:0;
    padding:40px 10px;
    text-align:left;
    background-color:white;
}

.mid-heading h1{
    font-size:20px;
    margin-bottom: 30px;
    padding:0px 20px;
}

.mid-heading p{
    font-size: 18px;
    padding:0px 20px;
    line-height:25px;
    color:gray;
}
/* chefs media */
.chefs{
    padding:20px;
}
.flex1{
    display: block;
    /* justify-content: center;
    align-items: center; */
    padding:30px;
    margin-top: -10px;
    /* gap:20px; */
}
.chef{
    text-align:center;
    padding:50px;
    font-size: 15px;
    line-height: 60px;

}

.chef1{
    text-align:center;
    text-transform: capitalize;
    font-size:16px;
    line-height: 30px;
}
.chef2{
    text-align:center;
    text-transform: capitalize;
    font-size:16px;
    line-height: 30px;
    
}

 .master h6{
    text-transform: uppercase;
    font-size:14px;
    margin-top: 15px;
    margin-bottom: 10px;
    color:gray;
}

p.p_chef{
    color:#414f5c8a;
    line-height: 30px;
}

.logo_img{
    border-radius:30px;
    margin-top:20px;
    margin-bottom:70px;
    word-spacing:20px;
    color:salmon;
}
/* our services media*/


.services{
    padding:60px;
    background-color:white;
    text-align:center;
    margin-bottom:50px;
}

.heading{
    margin-bottom:70px;
    font-size:20px;
}

.heading h1{
 font-weight: 400;
}

.heading p{
    color:rgb(145, 137, 137);
}

/* our services media*/

.recipes{
    display:block; 
    margin-bottom: 60px;
}

.types{
    font-size:18px;
    /* flex: 1 1 calc(33.33% - 10px); 
    min-width: calc(33.33% - 10px); */
    padding:0px 10px;
    line-height:30px;
    /* text-align:justify; */
    margin-bottom:55px;
    
}

.ft-size{
    font-weight:500;
    font-size: 19px;
    margin-bottom:15px;
}


/* customer reviews media*/

.reviews .even{
    padding-top:20px;
    margin:0px 12px;
    font-size:20px;
}
.customer{
    text-align:center;
    line-height: 35px;
}

.cust{
    font-weight:400;
    font-size:30px;
    /* padding-bottom: 40px; */
}

/* menu page media */
.menu{
    margin-top:-380px;
    text-align:center;
    font-size:20px;
 
}

.menu h1{
    font-weight:400;
    
}
.brunch{
    margin-top: 20px;
    margin-bottom:10px;
}

.brunch a{
    font-size:19px;
    margin-top:80px;
    word-spacing: 100px;
    color:salmon;
    font-weight: 500;
    padding-left:30px;
    margin-bottom: -60px;

}
.brunch a:hover{
    color:green;
}

.bold{
    font-weight: 500;
}


.grid1{
    display:block;
    border-bottom:1px solid gray;
    padding:10px;
    margin:0px;
    gap:30px;
    margin-top: 20px;
    text-align: left;

}


/* get in touch  media*/
.get-in {
    width: 100%;
    text-align: center;
    background-color: rgb(235, 231, 231);
    padding-top: 40px;
    position: relative;
    z-index: 2;
}

.get-in h1 {
    text-align: center;
    font-weight: 500;
}

.form {
    margin: 30px auto;
    padding: 20px 20px;
    background-color: white;
    width: 90%;
    position: relative;
    z-index: 3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
 
}

.contact {
    display:block;
    width: 100%; /* Adjust for spacing */
    margin-bottom: 15px;
    text-align: left;
}

.contact label {
    display: block;
    margin-bottom: 5px;
}

.contact input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
 
}

.contact input:hover{
    border:1px solid salmon;
}


/* text area media*/
.form1 {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 7px;
    text-align: left;
    z-index: 3;
}

.form1 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.area:hover{
    border:1px solid salmon;

}


.submit a {
    display: inline-block;
    padding: 5px 25px;
    background-color: white;
    color:salmon;
    border:2px solid tomato;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight:500;
    margin:40px;
    text-transform:uppercase;
}


/* about meal media*/

.about-meal{
    width:100%;
    height:auto;
    background-color:black;
    /* padding: 15px; */
}

.foot1{
    display:block;
    padding:120px 0px;
}

.breakfast{
    flex-direction: column;
    flex:1;
    margin:20px 20px;
    color:grey;
    padding:5px 0px;
    padding-bottom:10px;
    line-height:30px;
}

.read:hover{
    background-color: salmon;
}

.newsletter ,input{
    width:100%;
    margin:0;
}


.foot2{
    color:white;
    text-align: center;
    margin-bottom: 70px;
}

}


/* tablet */

@media (min-width:480px) and (max-width:1023px)
{
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
    }

   /* nav media */
    .navbar{
        width:100%;
        display:flex;
        flex-direction: column;
       justify-content: center;
       text-align:center;
       /* padding:10px; */
    }

    .nav-links{
        margin-left:10px;
        margin-right:10px;
        /* padding:2px; */
        font-weight:500;
        font-size:14px;
    }
  
    .links:hover{
        color:salmon;
    }
    .logo{
        padding-bottom:10px;
    }
    
  .page{
    position:relative;
  }
/* keyframes */

@keyframes slideIn {
    from {
      transform: translateY(60%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .text {
    animation: slideIn 1.5s ease-in-out;
  }
  .text{
    position:absolute;
    top:90%;
    left:35%;
  }

  .txt1{
    margin-top:-90px;
    margin-left:-40px;
    font-size: 30px;
  }
/* bg-image media */


.btn{
    margin-left:20px;
    margin-top:-10px;
    font-size:10px; 
}

.content{
    margin-top:-50px;
    padding-top:10px;
    padding-right:20px;
    padding-left:20px;
}
.content1{
    font-size:19px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

/* grid column tab media */

.grid-template{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:auto;

}

.grid-column img{
    width:200px;
    height:100px;
}


/* mid-heading tab media */
.mid-heading{
    margin:0;
    padding:40px 10px;
    text-align:left;
    background-color:white;
}

.mid-heading h1{
    font-size:20px;
    margin-bottom: 30px;
    padding:0px 20px;
}

.mid-heading p{
    font-size: 18px;
    padding:0px 20px;
    line-height:25px;
    color:gray;
}

/* chefs tab media */
.chefs{
    padding:20px;
    margin-bottom: -5px;
}
.flex1{
    display: block;
    /* justify-content: center;
    align-items: center; */
    padding:30px;
    margin-top: -10px;
    /* gap:20px; */
}
.chef{
    text-align:center;
    padding:50px;
    font-size: 15px;
    line-height: 60px;

}

.chef1{
    text-align:center;
    text-transform: capitalize;
    font-size:16px;
    line-height: 30px;
}
.chef2{
    text-align:center;
    text-transform: capitalize;
    font-size:16px;
    line-height: 30px;
    
}

 .master h6{
    text-transform: uppercase;
    font-size:14px;
    margin-top: 15px;
    margin-bottom: 10px;
    color:gray;
}

p.p_chef{
    color:#414f5c8a;
    line-height: 30px;
}

/* chefs media */
.chefs{
    padding:20px;
}
.flex1{
    display: block;
    /* justify-content: center;
    align-items: center; */
    padding:30px;
    margin-top: -10px;
    /* gap:20px; */
}
.chef{
    text-align:center;
    padding:50px;
    font-size: 15px;
    line-height: 60px;

}

.chef1{
    text-align:center;
    text-transform: capitalize;
    font-size:16px;
    line-height: 30px;
}
.chef2{
    text-align:center;
    text-transform: capitalize;
    font-size:16px;
    line-height: 30px;
    
}

 .master h6{
    text-transform: uppercase;
    font-size:14px;
    margin-top: 15px;
    margin-bottom: 10px;
    color:gray;
}

p.p_chef{
    color:#414f5c8a;
    line-height: 30px;
}

.logo_img{
    border-radius:30px;
    margin-top:20px;
    margin-bottom:70px;
    word-spacing:20px;
    color:salmon;
}


/* menu page tab media */
.menu{
    /* margin-top:-80px; */
    text-align:center;
    font-size:20px;
    margin-top: 10px;
}

.menu h1{
    font-weight:400;
    margin-top: 20px;
}
.brunch{
    margin-top: 20px;
    margin-bottom:10px;
}

.brunch a{
    font-size:19px;
    margin-top:80px;
    word-spacing: 100px;
    color:salmon;
    font-weight: 500;
    padding-left:30px;
    margin-bottom: -60px;

}
.brunch a:hover{
    color:green;
}

.bold{
    font-weight: 500;
}


.grid1{
    display:block;
    border-bottom:1px solid gray;
    padding:10px;
    margin:0px;
    gap:30px;
    margin-top: 20px;
    text-align: left;

}
/* our services tab media*/


.services{
    padding:60px;
    background-color:white;
    text-align:center;
    margin-bottom:50px;
}

.heading{
    margin-bottom:70px;
    font-size:20px;
}

.heading h1{
 font-weight: 400;
}

.heading p{
    color:rgb(145, 137, 137);
}

/* our services tab media*/

.recipes{
    display:block; 
    margin-bottom: 60px;
}

.types{
    font-size:18px;
    /* flex: 1 1 calc(33.33% - 10px); 
    min-width: calc(33.33% - 10px); */
    padding:0px 10px;
    line-height:30px;
    /* text-align:justify; */
    margin-bottom:55px;
    
}

.ft-size{
    font-weight:500;
    font-size: 19px;
    margin-bottom:15px;
}


/* customer reviews  tab media*/

.reviews .even{
    padding-top:20px;
    margin:0px 12px;
    font-size:20px;
}
.customer{
    text-align:center;
    line-height: 35px;
}

.cust{
    font-weight:400;
    font-size:30px;
    /* padding-bottom: 40px; */
}


/* get in touch tab media*/
.get-in {
    width: 100%;
    text-align: center;
    background-color: rgb(235, 231, 231);
    padding-top: 40px;
    position: relative;
    z-index: 2;
}

.get-in h1 {
    text-align: center;
    font-weight: 500;
}

.form {
    margin: 30px auto;
    padding: 20px 20px;
    background-color: white;
    width: 90%;
    position: relative;
    z-index: 3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
 
}

.contact {
    display:block;
    width: 100%; /* Adjust for spacing */
    margin-bottom: 15px;
    text-align: left;
}

.contact label {
    display: block;
    margin-bottom: 5px;
}

.contact input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
 
}

.contact input:hover{
    border:1px solid salmon;
}


/* text area tab media*/
.form1 {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 7px;
    text-align: left;
    z-index: 3;
}

.form1 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.area:hover{
    border:1px solid salmon;

}


.submit a {
    display: inline-block;
    padding: 5px 25px;
    background-color: white;
    color:salmon;
    border:2px solid tomato;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight:500;
    margin:40px;
    text-transform:uppercase;
}


/* about meal tab media*/

.about-meal{
    width:100%;
    height:auto;
    background-color:black;
    /* padding: 15px; */
}

.foot1{
    display:block;
    padding:120px 0px;
}

.breakfast{
    flex-direction: column;
    flex:1;
    margin:20px 20px;
    color:grey;
    padding:5px 0px;
    padding-bottom:10px;
    line-height:30px;
}

.read:hover{
    background-color: salmon;
}

.newsletter ,input{
    width:100%;
    margin:0;
}


.foot2{
    color:white;
    text-align: center;
    margin-bottom: 70px;
}

}

>>>>>>> 8d19f2b (initial)
